<div class="row-fluid">
  <div id="aboutus">
    <div class="container">
      <div class="padd" style="padding:30px 10px 10px 10px">
        <div class="section_header">
          <div class="row-fluid">
            <h3>Crop Investigation Cover Image</h3>
          </div><br/>
          <div class="row-fluid">
            <%= image_tag @investigation.investigationimage_url(:profile), id: "cropbox" %>
            
            <%= form_for @investigation do |f| %>
              <% %w[x y w h].each do |attribute| %>
                <%= f.hidden_field "crop_#{attribute}" %>
              <% end %><br clear="all">
              <div class="actions">
                <%= f.submit "Crop" %>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>