<% provide(:title, @user.name) %>

<div id="blog_post">
  <div class="container">
    
      <div class="row-fluid">
        
        <!-- SideBar -->
        <div class="span3 sidebar">
          <%= render 'user_sidebar' %>
        </div>
        
        <div class="span8 offset1">
          
          <div class="section_header">
              <h3>My Investigations</h3>

              <input type="text" class="input-large search-query" placeholder="Search">
          </div>
          
          <% if @investigations.any? %>
              
                <% @investigations.each do |investigation| %>
                  <div class="post_content">
                  <h2><%= link_to investigation.title, investigation %></h2>
                  <p><%= investigation.content %><span class="date">Wed, 12 Dec.</span></p>
                  <a href="#">View Case Profile</a> | <a href="#">Submit Evidence</a>
                  </div>
                <% end %>
      
              <%= will_paginate @investigations %>
          <% end %>

<!-- USE THESE STYLES WHEN YOU FIGURE IT OUT
          <div class="post_content">
              <h2><a href="#">United States vs Dzhokhar Tsarnaev</a></h2>
              <p>
                  There are many variations of passages of Lorem Ipsum available, injected generators on the  embarrassing hidden in the middle all the dictionary...
                  <span class="date">Wed, 12 Dec.</span>
              </p>
              <a href="#">View Case Profile</a> | <a href="#">Submit Evidence</a>
          </div>
-->
            
        </div><!-- end main profile section -->
        
      </div><!-- end Row -->
    
  </div><!-- end Container -->
</div><!-- end blog_post -->
