<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    Following
    <strong id="following" class="stat">
      <%= @user.followed_investigations.count %>
    </strong>
    Investigations
  </a>
</div>