/* --------- MISC ----------- */

.text_area {
	height: 100px;
}

.container .row-fluid.services_circles .media {
	margin-top: 0px;
}

.container .row-fluid.services_circles .media .pull-left img {
	margin-right: 10px;
}

#aboutus .container .padd .pagination {
	margin: 40px 0px 0px 0px;
}

/* -------- INVESTIGAITON PROFILES ---------- */

#aboutus{
	margin-bottom: 20px;
	/* margin-top: 70px; */
	margin-top: 0px;
}
#aboutus .container {
	-moz-box-shadow: 0px 0px 2px #ddd;
	-webkit-box-shadow: 0px 0px 2px #ddd;
	box-shadow: 0px 0px 2px #ddd;
	background-color: #fff;
}
#aboutus .container .padd .section_header.cover_art {
	height: 300px;
	-moz-box-shadow: 0px 0px 2px #646464;
	-webkit-box-shadow: 0px 0px 2px #646464;
	box-shadow: 0px 0px 2px #646464;
	margin-bottom: 10px;
}
#aboutus .intro h6{
	font-size: 21px;
	color: #252526;
	line-height: 29px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}
#aboutus .intro p{
	color: #3F3F3F;
	line-height: 24px;
}
#aboutus .flexslider{
	float: right;
	box-shadow: none;
	margin: 0;
	border:0 none;
}
.flexslider .slides img {
	-moz-box-shadow: 0px 0px 2px #646464;
	-webkit-box-shadow: 0px 0px 2px #646464;
	box-shadow: 0px 0px 2px #646464;
}
#aboutus .flex-control-paging li a{
	background: #666666;
	box-shadow: none;
	width: 5px;
	height: 5px;
	border: 3px solid #E6E6E6;
}
#aboutus .flex-control-paging li a.flex-active{
	box-shadow: none;
	background: #2894DC;
	border-color: #2894DC;
}
#aboutus .flex-control-nav{
	bottom: -30px;
}

#aboutus .container .section_header.cover_art .whitetitle {
	float: left;
}

#aboutus .container .section_header.cover_art h3 {
	background: url('/assets/transbg-white.jpg') repeat;
	padding: 20px 20px 10px 0px;
	margin-top: 160px;
	margin-bottom: 5px;
	font-size: 40px;
}

#aboutus .container .section_header.cover_art .follow-button {
	float: left;
	margin-top: 160px;
}

#aboutus .container .section_header.cover_art .follow-button .btn {
	padding: 24px 5px 25px 5px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
}

#aboutus .container .section_header.cover_art .stats {
	margin-bottom: 5px;
}
#aboutus .container .section_header.cover_art .stats a {
	background: url('/assets/transbg-white.jpg') repeat;
	clear: both;
	padding: 5px 5px 5px 2px;
}
#team{
	padding: 35px 0 25px;
	margin: 0;
	background: #252528;
	margin-bottom: 60px;
}
#team .section_header{
	margin-bottom: 30px;
}
#team .section_header h3{
	color: #9D9D9E;
	border-color: #9D9D9E;
	margin: 0;
}
#team .people{
	margin: 0;
}
#team .people .row1{
	margin: 0 0 50px 0;
}
#team .people .bio_box{
	margin: 0;
}
#team .people .bio_boxr{
	float: right;
}
#team .people .bio_box img{

}
#team .people .bio_boxr img{
	margin-left: 38px;
}
#team .people .bio_box .info{
	margin: 0px 0 0 0px;
}
#team .people .bio_box .info p{
	margin-bottom: 0;
}
#team .people .bio_box .info p.name{
	color: #fff;
	font-style: italic;
	margin-bottom: 4px;
	font-size: 21px;
}
#team .people .bio_box .info p.area{
	color: #98989A;
	font-style: italic;
	font-style: 16px;
	margin-bottom: 18px;
}
#team .people .bio_box .info a {
	margin-right: 10px;
}
#team .people .bio_box .info a span{
	display: inline-block;
	width: 33px;
	height: 33px;
}
#team .people .bio_box .info span.ico1,
#team .people .bio_box .info span.ico1h{
	background-position: 0px 0px;
}
#team .people .bio_box .info span.ico2,
#team .people .bio_box .info span.ico2h{
	background-position: -37px 0px;
}
#team .people .bio_box .info span.ico3,
#team .people .bio_box .info span.ico3h{
	background-position: -75px 0px;
}
#team .people .bio_box .info span.ico4,
#team .people .bio_box .info span.ico4h{
	background-position: -112px -1px;
}
#team .people .bio_box .info span.ico5,
#team .people .bio_box .info span.ico5h{
	background-position: -151px 0px;
}
#team .people .bio_box .info span.ico6,
#team .people .bio_box .info span.ico6h{
	background-position: -188px -1px;
}
#team .people .bio_box .info span.ico7,
#team .people .bio_box .info span.ico7h{
	background-position: -226px 0px;
}
#team .people .bio_box .info a:hover span.socialicons{
	display: none;
}
#team .people .bio_box .info a:hover span.socialicons_h{
	display: inline-block !important;
}
.socialicons{
	background: url('../img/socialicons.png') no-repeat;
	width: 265px;
	height: 36px;
}
.socialicons_h{
	background: url('../img/socialicons_h.png') no-repeat;
	width: 265px;
	height: 36px;
	display: none !important;
}
#process{
	min-height: 350px;
}
#process .section_header{
	margin-bottom: 30px;
}
#process .section_header h3{
	margin: 0;
}
#process .description{
	position: relative;
}
#process .description .text{
	position: absolute;
	display: none;
}
#process .description .text.active {
	display: block;
}
#process .description h4{
	font-size: 31px;
	line-height: 35px;
	margin-bottom: 20px;
}
#process .description p{
	font-size: 15px;
	color: #3F3F3F;
	line-height: 26px;
}
#process .areas{
	margin-left: 0;
	float: right;
}
#process .areas .circle{
	height: 210px;
	cursor: pointer;
	float: left;
	margin-right: -45px;
	text-align: center;
	width: 210px;
	background: rgba(37, 37, 40, 0.9);
	border-radius: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
#process .areas .first{
	margin-left: 0;
}
#process .areas .circle img{
	margin-top: 56px;
}
#process .areas .circle span{
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	display: block;
	margin-top: 21px;
}

#process .areas .circle:hover,
#process .areas .circle.active {
	background: rgba(17, 137, 217, 1);
}

#process .container .row-fluid.services_circles {
	margin-bottom: 4px;
	-moz-box-shadow: 0px 0px 2px #ddd;
	-webkit-box-shadow: 0px 0px 2px #ddd;
	box-shadow: 0px 0px 2px #ddd;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	
}

#process .container .row-fluid.services_circles .media {
	padding: 10px;
	background-color: #fff;
}

#process .container .row-fluid.services_circles .media:hover {
	background-color: #fff;
	border-left: 4px solid #2894dc;
}

#process .container .row-fluid.services_circles .media img {
	-moz-box-shadow: 0px 0px 2px #646464;
	-webkit-box-shadow: 0px 0px 2px #646464;
	box-shadow: 0px 0px 2px #646464;
	width: 150px;
	height: auto;
}

#process .container .row-fluid.services_circles .media iframe {
	-moz-box-shadow: 0px 0px 2px #646464;
	-webkit-box-shadow: 0px 0px 2px #646464;
	box-shadow: 0px 0px 2px #646464;
	width: 150px;
	height: auto;
}

#process .container .row-fluid.services_circles .media .pull-left p {
	margin-bottom: 0px;
}

/* -------- INVESTIGATION INDEX ---------- */

#aboutus .container .padd ul {
	margin: 0px;
}

#aboutus .container .padd ul li {
	list-style-type: none;
	margin-bottom: 15px;
}

#aboutus .container .padd ul li a img {
	-moz-box-shadow: 0px 0px 2px #646464;
	-webkit-box-shadow: 0px 0px 2px #646464;
	box-shadow: 0px 0px 2px #646464;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

.primary-search {
	margin-bottom: 0px;
}